<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.vliesaputra.deviceinformation"
        version="1.0.0">
    
    <name>Deviceinformation</name>
    <description>This plugin will get most of the information available through Android's Telephony Manager class</description>
    <author>Veronica Liesaputra</author>
    <keywords>android, telephony manager, phone number, device information</keywords>
    <license>MIT</license>
    
    <js-module src="www/deviceinformation.js" name="Deviceinformation">
        <clobbers target="window.deviceinformation" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Deviceinformation">
                <param name="android-package" value="com.vliesaputra.deviceinformation.DeviceInformation" />
            </feature>
        </config-file>
 
        <source-file src="src/com/vliesaputra/cordova/plugins/Deviceinformation.java" target-dir="src/com/vliesaputra/deviceinformation" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
     </platform>

</plugin>

